@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}
body {
 
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings */
  
  .big-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
    color: white;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  .colored-section {
    background-color: black;
    
    
  }
  
  .white-section {
    background-color: #fff;
  }
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title {
    background-color: #28527a;
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
  }
  
  /* Title Image */
  
  .title-image {
    
    /* transform: rotate(25deg); */
    position: absolute;
    right: 30%;
    top:160%;
    transform: translateY(-120%);
    height:800; 
    width:800;
  }
  .title-image2{
    position: absolute;
   left: 20%;
    top:160%;
    transform: translateY(-120%);
    height:800; 
    width:800;
  }
  
  /* Features Section */
  
  #features {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: #8ac4d0;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #ff4c68;
  }
  
  /* Testimonial Section */
  
  #testimonials {
    background-color: whitesmoke;
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  
  #press {
    background-color: #8ac4d0;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  /* Pricing Section */
  
  #pricing {
    padding: 100px;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
  
  /* CTA Section */
  
  
  /* Footer Section */
  
  
  .social-icon {
    margin: 20px 10px;
  }

  

  /* footer */

  .site-footer {
    background-color: #53354a;
    text-align: center;
    /* margin: 10px 0; */
    padding: 10px 0;
  }
  
  #social-wrapper {
    text-align: center;
  }
  
  /*Social Media Icons*/
  .social-wrapper {
    text-align: center;
  }
  
  .social-wrapper ul li {
    display: inline;
    margin: 0 5px;
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .googleplus-icon,
  .youtube-icon,
  .foursquare-icon{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  .linkedin-icon:hover,
  .googleplus-icon:hover,
  .youtube-icon:hover,
  .foursquare-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  
  .footer-nav p {
    text-align: center;
  }


  
  @media only screen and (max-width: 700px)  {
    

    .navbarlinks li {
      display: inline;
    }
    .navbartext{
   text-align: center;
      font-size: 20px;
      
    }
    
    #title .container-fluid {
      padding: 10px;
      width: 100%;
      overflow: hidden;
    }
    .mainnavbar{
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbarcontainer{
      height: 24.5rem;
    }
   
    .navbarcontaineritems{
      width: 90%  !important;
      padding: 10px;
      width: 100%;
    }
    .bodybullder{
      padding: 0;
      width: 100%;
      overflow: hidden;
      position: unset;
      display: flex;
      align-items:flex-end;
      justify-content:space-between;
      height: 16rem;

    }
  
    .title-image {
    
      /* transform: rotate(25deg); */
      position: unset;
      right: unset;
      top:unset;
      transform: unset;
      height:258px; 
      width:auto;
      
    }
    .title-image2{
     
      position: unset;
     left: unset;
      top:unset;
      transform:unset;
      height:auto; 
      width:125px;
    }
    .big-heading{
      font-size: 30px;
      padding: 15px 15px 0px 15px;
    }
    .big-heading2{
      font-size: 20px;
      padding: 0px 15px 0px 15px;
    }
    .youtubesection{
      width: 100%;
      padding: 0;
      margin: 0;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .iframeheight{
    align-items: center;
    height: auto!important;
    width: 100% !important;
  }

  .picturecontainer{
    padding: 0;
  }
  .pricesection{
    padding: 10px  !important;
  }
  .colored-section{
    padding: 10px !important;
  }
  .contentinfodiv{
    padding: 5px;
  }
}
  